* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica;
    padding: 10px;
    background: #FCF04C;
  }

  .container{
    max-width: 700px;
    margin: auto;
  }

  .center{
    text-align: center;
    margin:auto;
  }

  .navbar{
    text-align: center;
    margin:auto;
    margin-bottom: 20px;
  }

  h1{
    font-size:4em;
  }

  h2{
    font-size:2em;
  }

  p{
    font-size: 1.2em
  }

  a{
    color: black;
  }